@{
    ViewBag.Title = "Início";
}

<h2>Início do Programa</h2>

<form method="post" action="/Home/ChooseOption">
    <button type="submit" name="option" value="ComprarBilhete">Compra de Bilhete</button>
    <button type="submit" name="option" value="ConsultarCartaz">Consulta de Cartaz</button>
    <button type="submit" name="option" value="FecharApp">Encerrar Aplicação</button>
</form>
